#wrapper  {
	
}

#nav {
	background-color: black;
	text-align: center;
	padding-top:75px;
	color:white;

}


#nav a {
	color:white;
	padding-left:25px;
	padding-top:50px;
	padding-right:25px;
	padding-bottom:50px;
}

#nav2 {
	padding-top:50px;
	padding-bottom:50px;
	float:left;
	font-size:16pt;
}
#nav2 li {
	padding-top:25px;
	padding-bottom:25px;
}
#nav3 {
	float:right;
	padding-top:50px;
	padding-bottom:50px;
	font-size:16pt;
}
#nav3 li {
	padding-top:25px;
	padding-bottom:25px;
}

#content {
	/*width:75%;*/
	text-align: center;
}

body {
    background-color: #CCC;
}

#gallery {
	padding-left:50px;

}

ul{ 
  list-style:none;
  }
ul li{
	display:inline;
}




